html {
	font-family: Helvetica;
}
	/* body{
		/* background-image: url("Background.JPG"); */
		/* background-size: cover;
		background-position: center;
		height: 100%;
		background-repeat: no-repeat;
        background-attachment: fixed;
	} */
body{
	background-color: rgba(214, 199, 199, 0.644);
}
.geotrack{
	padding: 45px;
}
/* .topbar, .content{
	background-color: #2f3330;
}

.topbar{
	padding: 20px;
	position: sticky;
	top: 0;
} */
/* @media screen and (min-width: 600px){
	h1{
		font-size: 80px;		
	}
	p, td, a{
		font-size: 25px;
	}
	.grid{
		grid-template-columns: auto-fill, minmax(0.3fr, max-content);
	}
	.grid > div {
		background-color: #ec79445b;
		padding: 8px;
		border-radius: 5px;
	}
}
@media screen and (max-width: 599px){
	h1{
		font-size: 40px;		
	}
	p, td, a{
		font-size: 15px;
	}
	.grid{
		grid-template-columns: auto-fill, minmax(1fr, max-content);
		padding: 2px;
		border-radius: none;
	}
	.grid > div{
		padding: 8px;
	}
} */
/* .grid{
	display: grid;
	grid-template-columns: repeat();
	grid-gap: 10px;
	padding-top: 1%;
}
.grid > a{
	text-decoration: none;
} */

/* a{
	color: white;
	text-decoration: none;
	padding-left: 10px;
}

a:hover {
	background-color: white;
	color: black;
	text-decoration: none;
} */
img {
	width: 100%;
	height: auto;
	position: center;
}

* {
	box-sizing: border-box;
}
h1{
	font-weight: bold;
}

#mapid{
	height: 55%;
	width: 100%;
	border-radius: 9px;
	position: absolute;
	bottom: 0px;
}
.pad-top{
	padding-top: 35px;
}

.bold{
	font-weight: bold;
}